h1 {
    text-align: center;
}

header {
    text-align: center;
    align-content: center;
}

#searchBar {
    padding: 10px 10px;   
    height: 35px;
    align-content: center;
    margin-bottom: 5px;
    border-radius: 5px;
    width: 300px;
}

#suggestions {
    width: 300px; 
    background-color: white;
    align-content: center;
}

#suggestions div {
    border: 1px solid lightgray;
    margin-left: 0 auto;
    font-size: 20px;
    text-align: left;
    padding-left: 10px;
}

#suggestions div:hover {
   background-color: gray;
   color: white;
   cursor: pointer;
}

img {
    border-radius: 50%;
    display: inline-block;
    margin-top: 18px;
    margin-left: 10px;
}

#employees {
    display: grid;
    grid-template-columns: 340px;
    grid-template-rows: repeat(12, 120px);
    grid-gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.employee {
    border: solid lightgray 1px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

.employee img,
.info,
.more-detail {
    pointer-events: none;
}


.employee:hover img {
    border: 2px solid pink;
}

h4, p {
    margin: 2px;
}

p {
    font-size: 10pt;
}

.info {
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 18px;
    padding-left: 15px;
}

body { 
    background: #f7f5f3;
}

#modal {
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 220, 220, 0.7);
    display: none;
    z-index: 1;
    position: fixed;
}

#modal-content {
    display: block;
    background-color: white;
    border: 1px solid lightgray;
    width: 200px;
    height: 280px;
    text-align: center;
    position: fixed;
    left: 40%;
    top: 30%;
}

hr {
    width: 80%;
}

#modal p {
    margin: 5px;
}

#modal-x {
    float: right;
    padding-left: 190px;
    font-size: 20px;
}

#modal-text {
    align-content: center;
}

.more-detail {
    display: none;
}

#modal .more-detail {
    display: block;
}

#left {
    float: left;
    font-size: 20px;
}

#right {
    float: right;
    font-size: 20px;
}


@media (min-width: 768px) {

    #employees {
        grid-template-columns: 340px 340px;
        grid-template-rows: repeat(6, 120px);
    }


}

@media (min-width: 1085px) {

    #employees {
        grid-template-columns: 340px 340px 340px;
        grid-template-rows: repeat(4, 120px);
    }
}